.content {
    flex: 1;
}

.setup {
    background-color: white;
    border-radius: 25px;
    height: 100%;
    padding: 40px;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: 2em;
}
