{
    "extends": [
        "plugin:react/recommended",
        "eslint-config-jitsi"
    ],
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-console": 0,
        "require-jsdoc": 0
    }
}
