.frame {
    /**
     * The background color matching jitsi-meet is used to intentionally hide 
     * rendering issues of the meeting's large video disappearing and thereby
     * flashing the Spot background.
     */
    background: rgb(27, 38, 56);
    height: 100%;
    width: 100%;
}
