.avatar {
    border-radius: 50%;
    height: 100%;
    margin-right: 5px;
}

.details {
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.meeting {
    align-items: baseline;
    background: white;
    cursor: pointer;
    padding: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 33%;
    overflow-x: hidden;
}

.meeting:not(:last-child) {
    margin-bottom: 10px;
}

.meeting:hover {
    background: rgb(250, 251, 252);
}

.name {
    font-size: 2vw;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.participants {
    height: 50px;
}

.time {
    font-size: 1.5vw;
}

.url {
    font-size: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.url:empty:before {
    content: '.';
    visibility: hidden;
}
