.input {
    border: none;
    cursor: pointer;
    flex: 1;
    font-size: 17pt;
}

.input:focus {
    outline: none;
}

.button {
    background: steelblue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17pt;
}

.button:hover {
    background: teal;
}

.button:focus {
    outline: none;
}

.wrapper {
    background: white;
    display: flex;
    flex-shrink: 0;
    padding: 10px 20px;
    width: 100%;
}
