{
    "extends": [
        "eslint-config-jitsi",
        "eslint-config-jitsi/jsdoc",
        "eslint-config-jitsi/react"
    ],
    "settings": {
        "react": {
            "version": "16.8.2"
        }
    },
    "rules": {
        "jsdoc/check-tag-names": 0
    }
}
