.nav-section {
    margin-bottom: 20px;
    padding: 0 0 20px;
    width: auto;
    display: flex;
    justify-content: center;

    .nav {
        text-align: center;
        width: 200px;

        @media #{$mq-tablet} {
            display: flex;
            flex: 1;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
    }
}
