.nav-button {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    margin: 10px 5px;

    &.active .nav-icon-container {
        background-color: var(--container-bg-color);
    }

    &.pending:not(.disabled),
    &:active:not(.disabled) {
        .nav-icon-container {
            border-color: var(--pending);
            color: var(--pending);
        }
    }

    .nav-icon-container {
        @include centered-content;

        border: 1px solid;
        border-radius: 50%;
        margin-bottom: 15px;

        height: calc(#{$font-size-x-large} * 2);
        width: calc(#{$font-size-x-large} * 2);

        @media #{$mq-laptop-l} {
            height: calc(#{$font-size-large} * 2.5);
            width: calc(#{$font-size-large} * 2.5);
        }

        .nav-icon {
            position: relative;

            // Override material icon SVG size
            svg,
            .material-icons {
                font-size: $font-size-x-large;
    
                @media #{$mq-laptop-l} {
                    font-size: $font-size-large;
                }
            }

            .sub-icon {
                bottom: 0;
                position: absolute;
                right: 0;
            }
        }
    }

    .nav-label-container {
        @include centered-content;

        flex-grow: 1;
        margin: auto;

        /**
         * Workaround for Safari cutting off text.
         */
        position: relative;
        white-space: nowrap;
        width: calc(#{$font-size-large} * 2.5);
    }

    /**
     * Special case styling for the red hangup button.
     */
    &.hangup {
        .nav-icon-container {
            background-color: var(--hangup-bg-color);
            border-color: var(--hangup-bg-color);
        }

        &:active {
            color: var(--hangup-active-color);

            .nav-icon-container {
                border-color: var(--hangup-active-color);
            }

            .nav-icon  {
                color: var(--hangup-active-color);
            }
        }
    }

    /**
     * Share button should seem clickable when it shows a screenshare is active.
     */
    &.sharebutton.active:hover {
        cursor: pointer;
    }

    &.disabled {
        color: gray;
        cursor: default;
    }
}

.nav-list {
    border-top: 1px solid rgba(42, 58, 75, 0.1);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;

    .nav-item {
        @include button-reset;
        border: 0;
        border-radius: 0;
        border-top: 2px solid transparent;
        font-size: 14px;
        height: 96px;
        opacity: 0.6;
        padding: 0;
        width: 108px;

        &.active {
            border-top: 2px solid white;
            opacity: 1;
        }

        svg {
            font-size: 32px;
        }

        .nav-item-content {
            margin-bottom: 8px;
        }
    }

    .nav-item:not(:last-child) {
        margin-right: 40px;
    }
}
