
.view-background-container {
    /**
     * !important to override inline styles for setting the dynamic background.
     */
    background-position: center !important;
    background-size: cover !important;
    flex-grow: 1;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100vw;
}

.view-gradient {
    align-items: center;
    background-image: linear-gradient(180deg, rgba(28, 32, 37, 0) 0%, var(--backdrop-color) 100%);
    background-size: cover;
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    justify-content: center;
    width: 100%;
}
