.code-entry {
    cursor: pointer;
    display: flex;
    outline: none;
    position: relative;

    .box {
        @include centered-content;
        @include join-code;

        /**
         * Using initial-box sizing is important for mobile Safari to properly
         * scroll and center each input without causing the page to jump.
         */
        box-sizing: initial;

        background-color: var(--container-bg-color);
        border: 1px solid var(--container-sub-content-font-color);
        border-radius: 5px;
        color: var(--container-content-font-color);
        font-size: $font-size-x-large;
        height: calc(#{$font-size-x-large} * 0.7);
        line-height: normal;
        margin: 15px;
        padding: 0;
        text-align: center;
        width: calc(#{$font-size-x-large} * 0.5);

        &.focused {
            border-color: var(--active);
            box-shadow: 0px 0px 0px 5px var(--active);

            /**
             * Set appearance none because the boxes are in a form and mobile
             * safari will otherwise prevent box-shadow from displaying.
             */
            -webkit-appearance: none;
        }
    }

    textarea {
        background: transparent;
        border: 0;
        bottom: 0;
        caret-color: transparent;
        color: transparent;
        font-size: $font-size-x-large;
        left: 0;
        letter-spacing: 2em;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        resize: none;
        top: 0;
        width: 100%;
        z-index: $z-index-base;

        &:focus {
            outline: none;
        }

        &::selection {
            background: transparent;
        }
    }
}
