.dial-pad {
    @include centered-content;

    border-radius: 4px;
    flex-direction: column;

    .dial-pad-buttons {
        position: relative;

        .row {
            display: flex;
        }
    }

    .dial-button {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 50%;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
        height: 72px;
        justify-content: center;
        line-height: 32px;
        margin: 8px 12px;
        padding: 0;
        width: 72px;

        @media #{$mqh-xxsmall} {
            height: 50px;
            margin: 4px 6px;
            width: 50px;
        }

        @media #{$mqh-mobile-s} {
            height: 65px;
            margin: 8px 12px;
            width: 65px;
        }

        @media #{$mqh-laptop} {
            height: 80px;
            width: 80px;
        }

        @media #{$mqh-mobile-l} {
            height: 90px;
            width: 90px;
        }

        @media #{$mqh-tablet} {
            height: 100px;
            width: 100px;
        }

        @media #{$mqh-laptop-l} {
            height: 120px;
            width: 120px;
        }

        @media #{$mqh-4k} {
            width: 200px;
            height: 200px;
        }

        .main {
            display: block;
            font-size: 32px;
            font-weight: 600;

            @media #{$mqh-xxsmall} {
                font-size: 22px;
                line-height: 20px;
            }

            @media #{$mqh-mobile-s} {
                font-size: 32px;
                line-height: 32px;
            }
    
            @media #{$mqh-laptop-l} {
                font-size: 45px;
                line-height: 45px;
            }
    
            @media #{$mqh-4k} {
                font-size: 65px;
                line-height: 65px;
            }      
        }

        .sub {
            color: var(--container-sub-content-font-color);
            font-size: 10px;
            font-weight: bold;
            line-height: 14px;

            @media #{$mqh-xxsmall} {
                line-height: 8px;
            }

            @media #{$mqh-mobile-s} {
                font-size: 10px;
                line-height: 14px;
            }

            @media #{$mqh-laptop-l} {
                font-size: 20px;
                line-height: 18px;
            }
    
            @media #{$mqh-4k} {
                font-size: 25px;
                line-height: 20px;
            }  
        }

        .sub:empty:before {
            content: '.';
            visibility: hidden;
        }

        &.larger-sub .sub {
            font-size: 22px;
        }

        &.active,
        &:active {
            @include active;
        }

        &.disabled {
            opacity: 0.5;
        }
    }

    .dial-pad-footer {
        display: flex;
        text-align: center;
        width: 100%;

        .dial-pad-footer-button {
            align-self: center;
            flex: 1;
        }

        .backspace {
            @include button-reset;

            border: 0;

            &:active {
                @include active;
            }
        }
    }

    .call-button {
        background-color: var(--call-button);
        border: 0;

        &:active {
            background-color: var(--call-button-active);
        }
    }

    .dialing-dots {
        font-size: $font-size-x-large;
    }

    .dial-pad-entered-number {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .number-input {
        flex: 1;
        margin: 8px 0px 16px;

        input {
            @include input-reset;
            color: white;
            font-size: 32px;
            line-height: 44px;
            text-align: center;

            @media #{$mqh-xxsmall} {
                font-size: 22px;
                line-height: 34px;
            }

            @media #{$mqh-mobile-l} {
                font-size: 32px;
                line-height: 44px;
            }
        }

        input::placeholder {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    .country-search {
        background: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;

        .countries {
            color: black;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .country {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 64px;

            .country-name {
                color: #1C2025;
                flex: 1;
                font-size: 15px;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .country-flag,
            .country-number {
                margin: 0 16px;
            }

            .country-number {
                color: #5E6D7A;
                font-size: 13px;
                font-weight: bold;
                line-height: 20px;
            }
        }

        .country,
        .search-bar {
            box-shadow: inset 0px -1px 0px #D1DBE8;
        }

        .search-bar {
            align-items: center;
            display: flex;
            min-height: 64px;

            .search-icon,
            .search-clear {
                margin: 0 16px;
            }

            .search-clear {
                color: #1C2025;
                cursor: pointer;
            }

            .search-icon {
                color: #5E6D7A;
            }

            .search-clear {
                display: none;
            }

            .search-clear.visible {
                display: block;
            }

            input {
                @include input-reset;

                &::placeholder {
                    color: #A4B8D1;
                }

                color: #1C2025;
                flex: 1;
                font-size: 15px;
            }
        }
    }

    .country-flag {
        font-size: 22px;
    }

    .country-search-trigger {
        @include button-reset;

        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.25);
        color: white;
        display: flex;
        font-size: 25px;
        padding: 4px 8px;

        .country-search-trigger-name {
            margin: 0 6px;
        }

        @media #{$mqh-xxsmall} {
            font-size: 20px;
        }

        @media #{$mqh-mobile-l} {
            font-size: 25px;
        }
    }
}

.dtmf-modal {
    .dial-pad {
        background-color: transparent;
    }

    .country-search-trigger,
    .dial-pad-footer {
        display: none;
    }

    .number-input {
        margin: 0 16px;

        input {
            text-align: center;
            width: 100%;
        }
    }

    .dial-pad-buttons {
        padding-bottom: 17px;
    }
}
