.dial-pad {
    @include centered-content;

    background-color: var(--container-bg-color);
    border-radius: 4px;
    flex-direction: column;

    .dial-pad-buttons {
        padding: 17px 28px 24px;
        position: relative;

        .row {
            display: flex;
        }
    }

    .dial-button {
        align-items: center;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
        height: 64px;
        justify-content: center;
        line-height: 32px;
        margin: 4px;
        padding: 0;
        width: 64px;

        .main {
            display: block;
            font-size: 32px;
            font-weight: 600;
        }

        .sub {
            color: var(--container-sub-content-font-color);
            font-size: 10px;
            font-weight: bold;
            line-height: 14px;
        }

        .sub:empty:before {
            content: '.';
            visibility: hidden;
        }

        .larger-sub .sub {
            font-size: 12px;
            line-height: 12px;
        }

        &.active,
        &:active {
            @include active;
        }

        &.disabled {
            opacity: 0.5;
        }
    }

    .dial-pad-footer {
        display: flex;
        text-align: center;
        width: 100%;

        .dial-pad-footer-button {
            align-self: center;
            flex: 1;
        }

        .backspace {
            @include button-reset;

            border: 0;

            &:active {
                @include active;
            }
        }
    }

    .call-button {
        background-color: var(--call-button);
        border: 0;

        &:active {
            background-color: var(--call-button-active);
        }
    }

    .dialing-dots {
        font-size: $font-size-x-large;
    }

    .dial-pad-entered-number {
        align-items: baseline;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: flex;
        padding: 16px 0px 8px;
        width: 100%;
    }

    .number-input {
        flex: 1;

        input {
            @include input-reset;
            color: white;
            font-size: 15px;
            line-height: 24px;
        }

        input::placeholder {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    .country-search {
        background: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;

        .countries {
            color: black;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .country {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 64px;

            .country-name {
                color: #1C2025;
                flex: 1;
                font-size: 15px;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .country-flag,
            .country-number {
                margin: 0 16px;
            }

            .country-number {
                color: #5E6D7A;
                font-size: 13px;
                font-weight: bold;
                line-height: 20px;
            }
        }

        .country,
        .search-bar {
            box-shadow: inset 0px -1px 0px #D1DBE8;
        }

        .search-bar {
            align-items: center;
            display: flex;
            min-height: 64px;

            .search-icon,
            .search-clear {
                margin: 0 16px;
            }

            .search-clear {
                color: #1C2025;
                cursor: pointer;
            }

            .search-icon {
                color: #5E6D7A;
            }

            .search-clear {
                display: none;
            }

            .search-clear.visible {
                display: block;
            }

            input {
                @include input-reset;

                &::placeholder {
                    color: #A4B8D1;
                }

                color: #1C2025;
                flex: 1;
                font-size: 15px;
            }
        }
    }

    .country-flag {
        font-size: 22px;
    }

    .country-search-trigger {
        @include button-reset;

        align-self: end;
        border: none;
        color: white;
        display: flex;
        padding: 0;
        margin: 0 16px;
    }
}

.dtmf-modal {
    .dial-pad {
        background-color: transparent;
    }

    .country-search-trigger,
    .dial-pad-footer {
        display: none;
    }

    .number-input {
        margin: 0 16px;

        input {
            text-align: center;
            width: 100%;
        }
    }

    .dial-pad-buttons {
        padding-bottom: 17px;
    }
}
