.spot-home {
    background-color: var(--container-bg-color);
    border-radius: 5px;

    @media #{$mqw-mobile-s} {
        width: 80%;
    }

    @media #{$mqw-tablet} {
        width: 50%;
    }

    @media #{$mqw-laptop} {
        width: 50%;
    }

    @media #{$mqw-laptop-l} {
        width: 47%;
    }

    @media #{$mqw-4k} {
        width: 47%;
    }

    .clock {
        padding: 1.2em 0 0;
    }

    .room-name {
        text-align: center;
        padding-top: 1.2em;

        div {
            padding-bottom: 1.2em;
        }
    }

    .join-info {
        text-align: center;
        padding: 0.5em 0;
    }

    .meetings {
        .meeting {
            padding: 1em 1.6em;
        }
    }

    .calendar-content {
        border-top: var(--separator-border);
        border-bottom: var(--separator-border);
    }

    .no-events-message {
        color: var(--container-sub-content-font-color);
        padding: 3em;
        text-align: center;

        h1 {
            font-size: $font-size-medium-plus;
        }

        .setup-instructions {
            color: var(--container-sub-content-font-color);
            margin: 15px 0;
        }

        .setup-join-code {
            color: #6aafeb;
            font-size: $font-size-large;

            .join-info {
                color: inherit;
            }
        }
    }

    .spot-home-footer {
        text-align: center;

        .join-info {
            display: inline-block;
        }
    }
}

.modal-open {
    .spot-home {
        @include modal-open
    }
}