.idleCursor {
    cursor: none;

    .admin-toolbar {
        display: none;
    }

    .admin-toolbar:hover {
        display: block;
    }

    .meetingMouseHider {
        pointer-events: all;
    }
}
