/**
 * The various screen-width breakpoints to use to determine when styles should
 * adjust.
 */
$mqw-xxsmall: '(min-width: 0em)'; // catch-all
$mqw-mobile-s: '(min-width: 320px)';
$mqw-mobile-l: '(min-width: 425px)';
$mqw-tablet: '(min-width: 768px)';
$mqw-laptop: '(min-width: 1024px)';
$mqw-laptop-l: '(min-width: 1440px)';
$mqw-4k: '(min-width: 2460px)';

/**
 * The various screen-height breakpoints to use to determine when styles should
 * adjust.
 */
$mqh-xxsmall: '(min-height: 0em)'; // catch-all
$mqh-mobile-s: '(min-height: 667px)';
$mqh-mobile-l: '(min-height: 812px)';
$mqh-tablet: '(min-height: 1024px)';
$mqh-laptop: '(min-height: 768px)';
$mqh-laptop-l: '(min-height: 1080px)';
$mqh-4k: '(min-height: 2160px)';

/**
 * The font size from which all other font sizes should inherit.
 */
$base-font-size: 1em;

/**
 * The line height from which all other line heights should inherit.
 */
$base-line-height: 1.5;

body {
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media #{$mqw-xxsmall} {
        font-size: $base-font-size * 0.7;
        line-height: $base-line-height * 0.7;
    }

    @media #{$mqw-mobile-s} {
      font-size: $base-font-size * 0.7;
      line-height: $base-line-height * 0.7;
    }

    @media #{$mqw-tablet} {
        font-size: $base-font-size * 0.9;
        line-height: $base-line-height * 0.9;
    }

    @media #{$mqw-laptop} {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }

    @media #{$mqw-laptop-l} {
        font-size: $base-font-size * 1.3;
    }

    @media #{$mqw-4k} {
        font-size: $base-font-size * 1.5;
    }
}
