.meeting-name-entry {
    border-radius: 5px;
    display: flex;
    padding: 20px;
    width: 80%;

    @media #{$mq-laptop} {
        width: 70%;
    }

    @media #{$mq-laptop-l} {
        width: 60%;
    }

    .input-container {
        flex: 1;

        .input-label {
            display: block;
            font-size: 19px;
            margin-bottom: 10px;
        }

        .input {
            @include input-reset;
            color: #5E6D7A;
            flex: 1;
            padding: 0px 16px;
        }
    }

    .input-with-default-domain {
        display: block;

        @media #{$mq-mobile-l} {
            display: flex;
        }

        .input-url {
            background: white;
            border-radius: 4px;
            display: flex;
            flex: 1;
            flex-direction: column;
            font-size: 19px;
            margin-right: 4px;
            overflow: hidden;


            @media #{$mq-mobile-l} {
                flex-direction: row;
            }
        }

        .default-domain {
            /**
             * Try matching the style of the neighboring Material Input component
             */
            align-items: center;
            border-right: 1px solid #D1DBE8;
            color: #0376DA;
            display: flex;
            font-size: 19px;
            line-height: 1.1875em;
            padding: 10px 16px;
            white-space: nowrap;
        }
    }

    .submit-wrapper {
        @include centered-content;

        margin-left: 2em;

        .submit-button {
            font-size: 19px;
        }
    }
}
