@mixin active {
    background-color:  var(--container-bg-color);
}

@mixin button-reset {
    @include inherit-reset;
    border: 1px solid var(--container-content-font-color);
    border-radius: 5px;
    cursor: pointer;
}

@mixin centered-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin inherit-reset {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

@mixin join-code {
    font-family: var(--code-font);
    text-transform: uppercase;
}

@mixin modal-open {
    filter: brightness(50%) blur(2px);
}

@mixin spot-remote-view-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    .view-header {
        padding: 2.6em;
        text-align: center;
    }
}

@mixin styled-button {
    background-color: var(--button-color);
    border: 0;
    border-radius: 5px;
    color: var(--container-content-font-color);
    cursor: pointer;
    padding: 0.5em 1em;

    &:active {
        background-color: var(--button-active-color);
    }
}
