.modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;

    .modal-shroud {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .modal-content {
        pointer-events: all;
        position: relative;

        @media #{$mq-tablet} {
            height: auto;
            margin: 50px;
            width: unset;
        }

        .close {
            @include button-reset;

            background-color: transparent;
            border: 0;
            position: absolute;
            top: 10px;
            right: 10px;

            &:active {
                @include active;
            }
        }
    }
}

.modal-content {
    background-color: var(--modal-bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 40px;
    max-height: calc(100vh - 40px);
    min-height: 300px;
    width: 100%;
}
