.modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;

    .modal-shroud {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .modal-content {
        background:  var(--container-bg-color-fallback);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        height: 100%;
        max-height: 100vh;
        overflow: auto;
        pointer-events: all;
        position: relative;


        @media #{$mq-tablet} {
            background-color: var(--container-bg-color);
            height: auto;
            margin: 50px;
            width: unset;
        }

        .fallback-background {
            height: 100%;
            width: 100%;
            opacity: 0.9;
            position: absolute;
            top: 0;
        }

        .close {
            @include button-reset;

            background-color: transparent;
            border: 0;
            position: absolute;
            top: 10px;
            right: 10px;

            &:active {
                @include active;
            }

            &.modal-close {
                font-size: 30px;
            }
        }
    }
}

.modal-content {
    background-color: var(--container-bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 60px 20px 40px;
    max-height: calc(100vh - 40px);
    min-height: 256px;
    width: 100%;

    & > *:last-child {
        position: relative;
    }
}
