.share-select-view {
    @include centered-content;
}

.screenshare-select {
    @include centered-content;
    flex-direction: column;
    justify-content: space-between;
    min-width: 360px;
    text-align: center;
    width: 100%;

    .options {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .nav-label-container {
        white-space: initial;
    }

    .icon i {
        font-size: $font-size-xxx-large;
    }

    .cta-button {
        display: block;
        font-size: $font-size-small;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 0.3em 1em;
    }

    .share-url {
        color: var(--secondary-link-color);
        font-size: $font-size-medium-plus;
        font-weight: bold;
        margin-top: 1em;

        .join-code {
            @include join-code;
        }
    }

    .subtitle {
        font-size: $font-size-small;
        margin-top: 10px;
    }
}

.on-indicator {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: solid 2px #ffffff;
    background-color: #31b76a;
}