.share-select-view {
    @include centered-content;
}

.screenshare-select {
    @include centered-content;
    flex-direction: column;
    justify-content: center;
    min-width: 360px;
    text-align: center;
    width: 100%;

    @media #{$mqw-tablet} {
        width: 500px;
    }

    .title {
        font-size: 19px;
        padding: 20px 0px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .options {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-around;
        width: 100%;
    }

    .nav-label-container {
        white-space: initial;
    }

    .icon i {
        font-size: $font-size-xxx-large;
    }

    .cta-button {
        display: block;
        font-size: 19px;
    }

    .footer,
    .share-url {
        align-items: center;
        display: flex;
        padding: 24px;
        justify-content: center;
        width: 100%;
    }

    .with-share-url {
        flex: 1;
    }

    .share-url {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    .sub-description {
        font-size: 15px;
        line-height: 24px;
        margin-top: 10px;
    }

    .description {
        font-size: 19px;
    }
}

.on-indicator {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: solid 2px #ffffff;
    background-color: #31b76a;
}
.modal.screenshare .modal-content {
    padding: 0;
}