/**
 * In this file is placeholder CSS, used until designs are received. No CSS to
 * be used on the final product should be included here.
 */

.admin {
    background-color: var(--container-bg-color);
    border-radius: 25px;
    color: var(--container-sub-content-font-color);
    height: auto;
    justify-content: center;
    max-height: 100%;
    overflow: auto;
    padding: 16px 32px;
    width: 50%;
}

.admin-container {
  margin: 20px 0;
  padding: 10px;
  word-wrap: break-word;
}

.admin-detail {
  margin-bottom: 5px;
}

.admin-hidden {
  opacity: 0;
  pointer-events: none;
}

.admin-title {
  font-size: 2em;
  margin-bottom: 5px;
}

.meeting-frame {
  /**
   * The background color matching jitsi-meet is used to intentionally hide
   * rendering issues of the meeting's large video disappearing and thereby
   * flashing the Spot background.
   */
  background: rgb(27, 38, 56);
  height: 100%;
  width: 100%;
}

body.using-mouse :focus {
  outline: none;
}

.container {
  align-items: center;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding: 25px;
  width: 50%;
}

.loading {
    @include centered-content;

    min-height: 100vh;
    width: 100%;
}

.subcontent {
  width: 100%;
}

/**
* view acts as the main wrapper each individual route. By default put the
* content of view in the center of the screen.
*/
.view {
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.view-content-container {
    height: 100vh;
    overflow: auto;
    position: relative;
    width: 100vw;

    .view-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
}

.app {
  min-height: 100vh;
}
