:root {
    --active: rgba(37, 138, 255, 0.9);

    --backdrop-color: #1C2025;
    --button-color: rgba(37, 138, 255);
    --button-active-color: #0074e0;
    --button-opaque: rgba(0, 0, 0, 0.5);

    --call-button: #31B76A;
    --call-button-active: #005C3A;
    --code-font: 'Roboto mono';

    --container-bg-color: rgba(28, 32, 37, 0.5);
    --container-bg-color-fallback: rgba(28, 32, 37, 1);
    --container-content-bg-color: rgba(42, 58, 75, 0.9);
    --container-content-bg-color-no-opacity: rgb(42, 58, 75);
    --container-content-font-color: #ffffff;
    --container-sub-content-font-color: #d1dbe8;
    --container-content-highlight-bg-color: rgba(94, 109, 122, 0.9);

    --feedback-background: #1c2025;
    --font: 'Nunito', sans-serif;

    --hangup-active-color: lightcoral;
    --hangup-bg-color: red;

    --modal-bg-color: rgba(42, 58, 75, 0.8);
    --name-entry-gradient-start: black;
    --name-entry-gradient-end: rgba(0, 0, 0, 0);

    --select-background-color:rgb(82, 97, 118);
    --secondary-link-color: #8fc3f0;
    --secondary-white: #d1dbe8;
    --separator-border: 1px solid rgba(255, 255, 255, .2);

    --mic-preview-active-background-color: rgba(39, 119, 235, 1);
    --mic-preview-background-color: rgba(250, 250, 250, 0.38);
    --mic-preview-background-disabled-color: rgba(250, 250, 250, 1);
    --pending: #258AFF;
}
