@import './media-queries';
@import './theme-variables';
@import './variables.scss';

.button {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: $font-size-small;
    padding: 8px 32px;

    &:focus {
        /**
         * Be explicit about outline because material-ui hides outline by
         * default.
         */
        outline: auto;
    }

    &.primary {
        background-color: var(--button-color);
        border: 1px solid var(--button-color);
        text-transform: initial;

        &:hover {
            background-color: var(--button-active-color);
        }
    }

    &.subtle {
        border: 1px solid white;
        color: white;
        text-transform: initial;

        &:hover {
            background-color: var(--container-content-highlight-bg-color);
        }
    }

    &.subtle-danger {
        border-color: red;
        color: red;
        text-transform: initial;

        &:hover {
            background-color: lightcoral;
        }
    }

    &.menu {
        background-color: var(--button-opaque);
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        font-size: 1em;
        height: 36px;

        @media #{$mq-tablet} {
            height: 48px;
        }
    }

    &.volume {
        background-color: var(--button-opaque);
        height: calc(1em * 2);
        width: calc(1em * 2);
        border-radius: 50%;
        border: 1px solid white;
        font-size: 48px;
        padding: 0;
    
        svg {
            font-size: 48px;
            fill: white;
        }
    }

    &.touch-highlight:active {
        border-color: var(--pending);
        color: var(--pending);

        svg {
            fill: var(--pending);
        }
    }
}
