@import './variables.scss';

.button {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: $font-size-small;
    padding: 8px 32px;

    &.primary {
        background-color: var(--button-color);
        border: 1px solid var(--button-color);
        text-transform: initial;

        &:hover {
            background-color: var(--button-active-color);
        }
    }

    &.subtle {
        border: 1px solid white;
        color: white;
        text-transform: initial;

        &:hover {
            background-color: var(--container-content-highlight-bg-color);
        }
    }

    &.subtle-danger {
        border-color: red;
        color: red;
        text-transform: initial;

        &:hover {
            background-color: lightcoral;
        }
    }
}
