@import './variables.scss';

.clock {
    text-align: center;

    .date {
        color: var(--container-sub-content-font-color);
        font-size: $font-size-medium-plus;
    }

    .time {
        font-size: $font-size-x-large;
    }
}
