.code-entry {
    outline: none;
    position: relative;

    input {
        align-items: center;
        background-color: var(--container-bg-color);
        border: 1px solid var(--container-sub-content-font-color);
        border-radius: 5px;
        color: var(--container-content-font-color);
        display: inline-block;
        font-size: var(--font-size-x-large);
        height: calc(var(--font-size-x-large) * 0.7);
        justify-content: center;
        line-height: normal;
        margin-top: 10px;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: calc(var(--font-size-x-large) * 0.5);

        &:focus {
            border: 5px solid var(--active);
        }
        &:hover {
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-right: 0.5em;
        }
    }
}
