@import './mixins.scss';
@import './variables.scss';

.code-entry {
    outline: none;
    position: relative;

    input {
        @include  centered-content;

        background-color: var(--container-bg-color);
        border: 1px solid var(--container-sub-content-font-color);
        border-radius: 5px;
        color: var(--container-content-font-color);
        display: inline-block;
        font-size: $font-size-x-large;
        height: calc(#{$font-size-x-large} * 0.7);
        line-height: normal;
        margin-top: 10px;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: calc(#{$font-size-x-large} * 0.5);

        &:focus {
            border: 5px solid var(--active);
        }
        &:hover {
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-right: 0.5em;
        }
    }
}
