@import './mixins';
@import './variables.scss';

.dial-pad {
    @include centered-content;

    background-color: var(--container-bg-color);
    border-radius: 4px;
    flex-direction: column;
    padding: 20px 15px 10px;

    .dial-pad-buttons {
        margin: 10px 0;

        .row {
            display: flex;
        }

        .dial-button {
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50%;
            color: inherit;
            cursor: pointer;
            font-family: inherit;
            font-size: inherit;
            height: calc(#{$font-size-large} * 1.6);
            line-height: 1;
            margin: 4px;
            width: calc(#{$font-size-large} * 1.6);

            .main {
                display:block;
                font-size: $font-size-medium-plus;
            }

            .sub {
                color: var(--container-sub-content-font-color);
                font-size: $font-size-x-small;
            }
            .sub:empty:before {
                content: '.';
                visibility: hidden;
            }

            &.active,
            &:active,
            &:active .sub {
                @include active;
            }
        }
    }

    .dial-pad-footer {
        display: flex;
        text-align: center;
        width: 100%;

        .dial-pad-footer-button {
            flex: 1;
        }

        .backspace {
            @include button-reset;

            border: 0;

            &:active {
                @include active;
            }
        }
    }

    .call-button {
        @include styled-button;

        font-size: $font-size-small;
    }

    .input-container,
    .number-input {
        width: 100%;
    }

    .input-container {
        font-size: $font-size-small;
    }

    .number-input {
        @include styled-input;

        font: inherit;
        text-align: center;

        border-image:
            linear-gradient(
                to right,
                var(--name-entry-gradient-end),
                var(--name-entry-gradient-start),
                var(--name-entry-gradient-end)
            )
            1
            stretch;
    }
}
