@import './media-queries';
@import './mixins';
@import './variables.scss';

.join-code-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;

    .cta {
        padding: 2.5em;
        text-align: center;

        .title {
            font-size: $font-size-x-large;
        }

        .help {
            font-size: $font-size-large;
        }
    }

    .code-entry-wrapper {
        @include centered-content;

        .code-entry {
            // Usage of !important is needed to override the inline style
            // set by react-code-input.
            display: flex !important;
            justify-content: center;
            margin: auto;

            @media #{$mq-mobile-s} {
                flex-wrap: wrap;

                // Hardcode some width that force a 3x2 code entry.
                width: 65%;
            }

            @media #{$mq-tablet} {
                flex-wrap: nowrap;
                width: auto;
            }
        }
    }

    .hidden-submit {
        position: absolute;
        pointer-events: none;
        visibility: hidden;
    }

    .nav {
        column-gap: 0;
    }
}
