/**
 * The various screen-width breakpoints to use to determine when styles should
 * adjust.
 */
$mq-xxsmall: '(min-width: 0em)'; // catch-all
$mq-xsmall: '(min-width: 2em)'; // 320px
$mq-small: '(min-width: 48em)'; // 768px
$mq-medium: '(min-width: 64em)'; // 1024px
$mq-large: '(min-width: 85.375em)'; // 1366px
$mq-xlarge: '(min-width: 120em)'; // 1920px
$mq-xxlarge: '(min-width: 160em)'; // 2560px
$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';

/**
 * The font size from which all other font sizes should inherit.
 */
$base-font-size: 1em;

/**
 * The line height from which all other line heights should inherit.
 */
$base-line-height: 1.5;

body {
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media #{$mq-xsmall} {
      font-size: $base-font-size * 0.7;
      line-height: $base-line-height * 0.7;
    }

    @media #{$mq-small} {
        font-size: $base-font-size * 0.9;
        line-height: $base-line-height * 0.9;
    }

    @media #{$mq-medium} {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }

    @media #{$mq-large} {
        font-size: $base-font-size * 1.3;
    }

    @media #{$mq-xlarge} {
        font-size: $base-font-size * 1.5;
    }

    @media #{$mq-xxlarge} {
        font-size: $base-font-size * 1.7;
    }
}
