@import './variables.scss';

.meeting {
    background-color: var(--container-content-bg-color);
    cursor: pointer;
    display: flex;

    .meeting-info-container {
        flex: 1;
        overflow: hidden;
    }

    .time-info {
        margin-bottom: 10px;
    }

    .meeting-info,
    .time-info {
        align-items: baseline;
        display: flex;
        flex-direction: row;
    }

    &:active {
        background-color: var(--container-content-highlight-bg-color);
    }

    .meeting-date,
    .meeting-time {
        flex-shrink: 0;
        width: 130px;
    }

    &:not(:last-child) {
        margin-bottom: 3px;
    }

    .meeting-date,
    .meeting-time,
    .meeting-url {
        font-size: $font-size-small;
    }

    .meeting-join {
        align-items: center;
        display: flex;
        flex-shrink: 0;

        &.hidden {
            display: none;
        }

        .join-cta  {
            font-family: inherit;
            font-size: inherit;
        }
    }

    .meeting-date,
    .meeting-name {
        font-weight: bold;
    }

    .meeting-name,
    .meeting-url {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
