@import './variables.scss';

@mixin active {
    background-color:  var(--container-bg-color);
}

@mixin button-reset {
    background-color: inherit;
    border: 1px solid var(--container-content-font-color);
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

@mixin centered-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin styled-button {
    background-color: var(--button-color);
    border: 0;
    border-radius: 5px;
    color: var(--container-content-font-color);
    cursor: pointer;
    padding: 0.5em 1em;
}

@mixin styled-input {
    /**
    * Explicitly override default input element styles.
    */
    &:focus {
      outline: none;
    }
    &::placeholder {
        color: var(--container-sub-content-font-color);
    }

    background-color: transparent;
    color: var(--container-content-font-color);
    font-size: $font-size-small;
    width: 100%;

    /**
    * Set each border attribute separately for mobile safari to
    * support border-image.
    */
    border-bottom: 2px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-style: solid;
}
