@import './media-queries';
@import './mixins';

.modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;

    .modal-shroud {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .modal-content {
        border-radius: 5px;
        pointer-events: all;
        position: relative;
        min-height: 300px;
        width: 100%;

        @media #{$mq-tablet} {
            height: auto;
            width: 450px;
        }

        @media #{$mq-laptop-l} {
            
            width: 500px;
        }

        .close {
            @include button-reset;

            border: 0;
            position: absolute;
            top: 10px;
            right: 10px;

            &:active {
                @include active;
            }
        }
    }
}
