@import './media-queries';

.nav {
    flex-wrap: wrap;
    margin: 20px 0;
    text-align: center;
    width: 100%;

    @media #{$mq-xxsmall} {
        padding: 0 60px;
    }

    @media #{$mq-mobile-s} {
        padding: 0 55px;
    }

    @media #{$mq-mobile-l} {
        padding: 0 35px;
    }

    @media #{$mq-tablet} {
        padding: 0;
    }


    .nav-button {
        background-color: transparent;
        border: 0;
        color: inherit;
        font-size: inherit;
        margin-top: 10px;

        &:not(:last-child) {
            @media #{$mq-xxsmall} {
                margin-right: 0.3em;
            }

            @media #{$mq-mobile-s} {
                margin-right: 0.8em;
            }
        
            @media #{$mq-tablet} {
                margin-right: 4em;
            }

            @media #{$mq-laptop} {
                margin-right: 5em;
            }
        
            @media #{$mq-4k} {
                margin-right: 5em;
            }
        }

        &.active {
            cursor: default;
        }

        &.active,
        &:active {
            color: var(--active);

            .nav-icon {
                border-color: var(--active);
            }
        }

        &:hover:not(.active) {
            cursor: pointer;
        }
    }

    .nav-icon-container {
        display: flex;
        justify-content: center;
    }

    .nav-icon {
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1em;
        height: calc(var(--font-size-x-large) * 2);
        width: calc(var(--font-size-x-large) * 2);

        @media #{$mq-laptop-l} {
            height: calc(var(--font-size-large) * 2.5);
            width: calc(var(--font-size-large) * 2.5);
        }

        @media #{$mq-4k} {
            height: calc(var(--font-size-large) * 2.5);
            width: calc(var(--font-size-large) * 2.5);
        }


        * {
            font-size: var(--font-size-x-large);

            @media #{$mq-laptop-l} {
                font-size: var(--font-size-large);
            }

            @media #{$mq-4k} {
                font-size: var(--font-size-large);
            }
        }
    }

    .nav-label-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: auto;
        white-space: nowrap;
        width: calc(var(--font-size-large) * 2.5);
    }
}

/**
 * Special case styling for the hangup button.
 */
.nav {
    .hangup.nav-button {
        .nav-icon-container .nav-icon {
            background-color: var(--hangup-bg-color);
            border-color: var(--hangup-bg-color);

            &:active {
                color: var(--hangup-active-color);

                .nav-icon {
                    border-color: var(--hangup-active-color);
                }
            }
        }

        &:active {
            .nav-icon {
                border-color: var(--hangup-bg-color);
            }

            color: var(--hangup-active-color);
        }
    }
}
