@import './media-queries';
@import './mixins';
@import './variables.scss';

/**
 * nav is generally placed within a grid cell. That would cause the nav to
 * take up all available space in the cell. To prevent that, let nav-section
 * take up all the space, and wrap nav with inline-block so nav only takes up
 * the space it needs.
 */
.nav-section {
    padding: 0 0 20px;
    text-align: center;

    .nav-container {
        display: inline-block;
    }
}

.nav {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    width: auto;

    @media #{$mq-xxsmall} {
        flex-wrap: wrap;
        justify-content: center;
        width: 200px;
    }

    @media #{$mq-tablet} {
        flex-wrap: nowrap;
        width: auto;
    }


    .nav-button {
        align-self: start;
        background-color: transparent;
        border: 0;
        color: inherit;
        font-size: inherit;
        margin-top: 10px;

        @media #{$mq-tablet} {
            &:nth-child(odd) {
                margin: 10px 0;
            }

            &:nth-child(even) {
                margin: 10px 0;
            }
        }


        &:not(:last-child) {
            @media #{$mq-tablet} {
                margin-right: 4em;
            }

            @media #{$mq-laptop} {
                margin-right: 5em;
            }
        
            @media #{$mq-4k} {
                margin-right: 5em;
            }
        }

        &.active {
            cursor: default;
        }

        &.active .nav-icon-container,
        &:active .nav-icon-container {
            background-color: var(--container-bg-color);
        }

        &:hover:not(.active) {
            cursor: pointer;
        }
    }
    .with-popup {
        display: inline-block;
        position: relative;

        &.hide-popup {
            .popup {
                display: none;
            }
        }

        .popup {
            background-color: var(--container-content-bg-color);
            border-radius: 5px;
            color: var(--container-content-font-color);
            padding: 30px;
            position: absolute;
            top: -20px;
            transform: translate(-33%, -100%);

            .title {
                margin-bottom: 30px;
                white-space: nowrap;
            }

            .options {
                display: flex;
                justify-content: center;

                .nav-label-container {
                    white-space: initial;
                }
            }
        }
    }
    .nav-icon-container {
        align-items: center;
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        height: calc(#{$font-size-x-large} * 2);
        width: calc(#{$font-size-x-large} * 2);
        @media #{$mq-laptop-l} {
            height: calc(#{$font-size-large} * 2.5);
            width: calc(#{$font-size-large} * 2.5);
        }

        @media #{$mq-4k} {
            height: calc(#{$font-size-large} * 2.5);
            width: calc(#{$font-size-large} * 2.5);
        }

        .nav-icon {
            position: relative;

            .material-icons {
                font-size: $font-size-x-large;
    
                @media #{$mq-laptop-l} {
                    font-size: $font-size-large;
                }
    
                @media #{$mq-4k} {
                    font-size: $font-size-large;
                }
            }

            .sub-icon {
                bottom: 0;
                position: absolute;
                right: 0;
            }
        }
    }

    .nav-label-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: auto;
        white-space: nowrap;
        width: calc(#{$font-size-large} * 2.5);
    }
}

/**
 * Special case styling for the hangup button.
 */
.nav {
    .hangup.nav-button {
        .nav-icon-container {
            background-color: var(--hangup-bg-color);
            border-color: var(--hangup-bg-color);
        }

        &:active {
            color: var(--hangup-active-color);

            .nav-icon  {
                color: var(--hangup-active-color);
            }
        }
    }
}
