@import './media-queries';

.feedback-view {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;

    .clock {
        padding: 2.6em;
    }

    .remote-feedback {
        background-color: var(--container-bg-color);
        border-radius: 5px;
        margin: auto;
        text-align: center;

        @media #{$mq-xxsmall} {
            padding: 2em 0;
            width: 100%;
        }

        @media #{$mq-tablet} {
            padding: 2em 1em;
            width: 50%;
        }

        @media #{$mq-laptop} {
            padding: 2em 1em;
            width: 40%;
        }

        .cta {
            font-size: var(--font-size-medium-plus);
        }

        .message-help {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .stars {
            margin: 3em 0;
        }

        .remote-message {
            background-color: var(--feedback-background);
            border-radius: 5px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            margin: 10px 0px 20px;
            resize: none;
            width: 100%;
        }

        .remote-score {
            background: inherit;
            border: none;
            color: white;
            font-size: 3em;
            padding: 0 10px;

            &:hover {
                color: whitesmoke;
                cursor: pointer;
            }
        }

        .submit-button {
            background-color: var(--button-color);
            border: 0;
            border-radius: 5px;
            color: var(--container-content-font-color);
            cursor: pointer;
            font-size: var(--font-size-medium);
            padding: 0.5em 1em;

            &:active {
                background-color: var(--button-active-color);
            }
        }
    }
}

.waiting-view {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;

    .waiting-sub-view {
        flex: 1;
    }

    .clock {
        padding: 2.6em;
    }

    .meetings {
        display: flex;
        flex-direction: column;
        align-items: center;

        .meeting {
            padding: .8em 1.2em;
            width: 80%;

            @media #{$mq-laptop} {
                width: 70%;
            }
        
            @media #{$mq-laptop-l} {
                width: 60%;
            }
        }

        .meeting:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .meeting:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .meeting-name-entry-view {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .share-select-view {
        margin: auto;
        width: 100%;

        @media #{$mq-tablet} {
            height: auto;
            width: 450px;
        }
    
        @media #{$mq-laptop-l} {
            
            width: 500px;
        }

    }

}

.in-call {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;

    .in-call-name {
        font-size: var(--font-size-medium-plus);
        margin-top: 100px;
        text-align: center;
    }

    .sharebutton.sharing {
        .nav-icon-container {
            background-color:  var(--container-bg-color);
        }
    }
}
