@import './media-queries';

.feedback-view {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
    width: 100%;

    .clock {
        padding: 2.6em;
    }

    .remote-feedback {
        background-color: var(--container-bg-color);
        border-radius: 5px;
        margin: auto;
        text-align: center;

        @media #{$mq-xxsmall} {
            padding: 2em 0;
            width: 100%;
        }

        @media #{$mq-tablet} {
            padding: 2em;
            width: 50%;
        }

        @media #{$mq-laptop} {
            padding: 2em;
            width: 40%;
        }

        .cta {
            font-size: var(--font-size-medium-plus);
        }

        .stars {
            margin: 3em 0;
        }

        .remote-score {
            background: inherit;
            border: none;
            color: white;
            font-size: 2.5em;

            &:hover {
                color: whitesmoke;
                cursor: pointer;
            }
        }

        .submit-button {
            background-color: var(--button-color);
            border: 0;
            border-radius: 5px;
            color: var(--container-content-font-color);
            cursor: pointer;
            font-size: var(--font-size-medium);
            padding: 0.5em 1em;

            &:active {
                background-color: var(--button-active-color);
            }
        }
    }
}

.waiting-view {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    width: 100%;

    .clock {
        padding: 2.6em;
    }

    .meetings {
        display: flex;
        flex-direction: column;
        align-items: center;

        .meeting {
            padding: .8em 1.2em;
            width: 80%;
        }
    }

    .meeting-name-entry-view {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.in-call {
    display: grid;
    grid-template-rows:  1fr auto;
    min-height: 100%;
    width: 100%;

    .in-call-name {
        margin-top: 5em;
        text-align: center;
    }
}
