@import './mixins';

.share-select-view {
    @include centered-content;

    background-color: var(--container-bg-color);

    .screenshare-select {
        @include centered-content;
        flex-direction: column;

        padding: 30px 40px;
        width: 100%;

        .title {
            margin-bottom: 30px;
        }

        .nav-label-container {
            white-space: initial;
        }

        .icon {
            margin-bottom: 30px;
        }

        .icon i {
            font-size: var(--font-size-xx-large);
        }

        .cta-button {
            @include button-reset;

            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            padding: 0.3em 1em;

            &.stop {
                border-color: red;
                color: red;

                &:active {
                    background-color: lightcoral;
                }
            }

            &:active:not(.stop) {
                @include active;
            }
        }

        .share-url {
            color: var(--button-active-color);
        }
    }
}

.on-indicator {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: solid 2px #ffffff;
    background-color: #31b76a;
}