/**
 * In this file is placeholder CSS, used until designs are received. No CSS to
 * be used on the final product should be included here.
 */
@import './media-queries';
@import './mixins';
@import './variables.scss';

.admin {
  color: black;
}

.admin-container {
  margin: 20px 0;
  padding: 10px;
  word-wrap: break-word;
}

.admin-detail {
  margin-bottom: 5px;
}

.admin-hidden {
  opacity: 0;
  pointer-events: none;
}

.admin-title {
  font-size: 2em;
  margin-bottom: 5px;
}

.connecting {
    font-size: $font-size-large;
}

.info-footer {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

@keyframes animateDots {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

.loading-icon {
    text-align: center;
}

.loading-icon > div {
    animation: animateDots 2.5s ease-in-out infinite;
    display: inline-block;
    font-size: 3.5em;
    opacity: 0;
}

.loading-icon > div:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-icon > div:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-icon > div:nth-child(4) {
    animation-delay: 0.6s;
}

.meeting-frame {
  /**
   * The background color matching jitsi-meet is used to intentionally hide
   * rendering issues of the meeting's large video disappearing and thereby
   * flashing the Spot background.
   */
  background: rgb(27, 38, 56);
  height: 100%;
  width: 100%;
}

.notification-default {
  background: white;
}

.notification-error {
  background: red;
}

.notifications {
  opacity: 0.5;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.notification {
  padding: 5px;
}

body.using-mouse :focus {
  outline: none;
}

.admin {
  background-color: white;
  border-radius: 25px;
  overflow: auto;
  width: 100%;
}

.container {
  align-items: center;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding: 25px;
  width: 50%;
}

.loading {
    @include centered-content;

    min-height: 100%;
    width: 100%;
}

.subcontent {
  width: 100%;
}

/**
* view acts as the main wrapper each individual route. By default put the
* content of view in the center of the screen.
*/
.view {
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

.view-gradient {
  align-items: center;
  background-size: cover;
  display: flex;
  min-height: 100%;
  min-height: 100%;
  justify-content: center;
  width: 100%;
}

.view-gradient.visible {
  background-image: linear-gradient(to bottom, #020f1b, rgba(0, 0, 0, 0) 30%), linear-gradient(to bottom, rgba(2, 15, 27, 0) 50%, #020f1b);
  flex-grow: 1;
}

.app {
  min-height: 100%;
}
