/**
 * In this file is placeholder CSS, used until designs are received. No CSS to
 * be used on the final product should be included here.
 */
@import './media-queries';

.idleCursor {
  cursor: none;
}
.idleCursor .cog {
  display: none;
}
.idleCursor .cog:hover {
  display: block;
}

.cog {
  border-radius: 50%;
  height: 1.4em;
  opacity: 1;
  text-align: center;
  transition: opacity 0.5s;
  width: 1.4em;
}
.cog,
.cog * {
  color: white;

  /**
  * TODO: remove !important usage and setting height/width larger than
  * parent. Those stylings are being used right now to override jitsi-meet
  * icon styling.
  */
  cursor: pointer !important;
  text-decoration: none !important;
}
.cog:hover * {
  color: lightgray;
}

.admin,
.remote-menu,
.setup {
  color: black;
}

.admin-container {
  margin: 20px 0;
  padding: 10px;
  word-wrap: break-word;
}

.admin-detail {
  margin-bottom: 5px;
}

.admin-hidden {
  opacity: 0;
  pointer-events: none;
}

.admin-title {
  font-size: 2em;
  margin-bottom: 5px;
}

.button {
  background: steelblue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17pt;
}

.button:hover {
  background: teal;
}

.connecting {
    font-size: var(--font-size-large);
}

.joinInfo {
  background: rgba(255, 255, 255, 0.7);
  bottom: 20;
  font-size: 2rem;
  padding: 10px;
  position: absolute;
}

@keyframes animateDots {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

.loading-icon {
    text-align: center;
}

.loading-icon > div {
    animation: animateDots 2.5s ease-in-out infinite;
    display: inline-block;
    font-size: 3.5em;
    opacity: 0;
}

.loading-icon > div:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-icon > div:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-icon > div:nth-child(4) {
    animation-delay: 0.6s;
}

.setup-content {
  flex: 1;
}

.setup-roomList {
  overflow: auto;
}

.setup {
  background-color: white;
  border-radius: 25px;
  height: 100%;
  padding: 40px;
  width: 100%;
}

.setup-step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.setup-title {
  font-size: 2em;
}

.meeting-frame {
  /**
   * The background color matching jitsi-meet is used to intentionally hide 
   * rendering issues of the meeting's large video disappearing and thereby
   * flashing the Spot background.
   */
  background: rgb(27, 38, 56);
  height: 100%;
  width: 100%;
}

.notification-default {
  background: white;
}

.notification-error {
  background: red;
}

.notifications {
  opacity: 0.5;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.notification {
  padding: 5px;
}

.remote-menu {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}
.remote-button {
  margin-right: 20px;
}
.remote-comment {
  font-size: 1.5em;
  height: 50%;
  margin: 20px 0;
  resize: none;
  width: 100%;
}
.remote-feedback {
  text-align: center;
  width: 100%;
}
.remote-hangup {
  background: crimson;
}
/**
* TODO: remove !important usage. It is being used right now to override
* jitsi-meet icon styling.
*/
.remote-score {
  color: white;
  font-size: 2.5em !important;
}
body.using-mouse :focus {
  outline: none;
}
.remote-selection {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex: 1;
  padding: 10px 10px;
  margin-bottom: 10px
}
.remote-selection:active {
  background: rgb(250, 251, 252);
}

.admin {
  background-color: white;
  border-radius: 25px;
  height: 100%;
  overflow: hidden;
  padding: 40px;
  width: 100%;
}

.code {
  bottom: 25;
  left: 25;
  position: fixed;
}

.meetingMouseHider {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.idleCursor .meetingMouseHider {
  pointer-events: all;
}

.container {
  align-items: center;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 25px;
  width: 50%;
}

.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.settings_cog {
  position: fixed;
  right: 32px;
  top: 41px;

}

.subcontent {
  width: 100%;
}

/**
* view acts as the main wrapper each individual route. By default put the
* content of view in the center of the screen.
*/
.view,
.view-gradient {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  width: 100%;
}

.view-gradient.visible {
  background-image: linear-gradient(to bottom, #020f1b, rgba(0, 0, 0, 0) 30%), linear-gradient(to bottom, rgba(2, 15, 27, 0) 50%, #020f1b);
  flex-grow: 1;
}

.app {
  height: 100%;
}
