.admin {
    background-color: white;
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
    padding: 40px;
    width: 100%;
}

.code {
    bottom: 25;
    left: 25;
    position: fixed;
}

.container {
    align-items: center;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 25px;
    width: 50%;
}

.loading {
    align-items: center;
    background: black;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.meetings {
    flex-grow: 1;
    overflow: scroll;
    width: 100%;
}

.view {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
