.admin {
    background-color: white;
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
    padding: 40px;
    width: 100%;
}

.code {
    bottom: 25;
    left: 25;
    position: fixed;
}

.container {
    align-items: center;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 25px;
    width: 50%;
}

.homeContainer {
    align-items: center;
    background-color: rgba(229, 232, 236, 0.7);
    display: flex;
    flex-direction: row;
    height: 33vh;
    width: 46vw;
}

.clockContainer {
    padding: 30px;
    text-align: center;
}

.loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.meetings {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
}

:global(.idleCursor) .qrcode {
    display: none;
}

:global(.idleCursor) .qrcode:hover {
    display: block;
}

.qrcode {
    bottom: 20;
    left: 20;
    position: absolute;
}
.qrcode:hover {
    cursor: pointer;
}

.settings_cog {
    top: 41px;
    font-size: 1.7em;
    position: absolute;
    right: 32px;
}

.subcontent {
    width: 100%;
}

.view {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
