.idleCursor {
    cursor: none;
}

/** custom resets **/

body {
    font-family: 'Nunito', sans-serif;
    color: var(--container-content-font-color);
    user-select: none;
}

body,
body > div {
    height: 100%;
    width: 100%;
}
