@import "./media-queries";

.meeting-name-entry {
    background-color: var(--container-content-bg-color);
    border-radius: 5px;
    display: flex;
    padding: 1.2em 2.5em;
    width: 80%;

    @media #{$mq-medium} {
        width: 70%;
    }

    @media #{$mq-large} {
        width: 60%;
    }

    .input-container {
        flex: 1;

        .input {
            /**
            * Explicitly override default input element styles.
            */
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: var(--container-sub-content-font-color);
            }
            background-color: transparent;
            color: var(--container-content-font-color);
            font-size: var(--font-size-small);
            padding-bottom: 16px;
            width: 100%;

            /**
            * Set each border attribute separately for mobile safari to
            * support border-image.
            */
            border-bottom: 2px;
            border-left: 0;
            border-right: 0;
            border-style: solid;
            border-top: 0;
            border-image:
                linear-gradient(
                    to right,
                    var(--name-entry-gradient-start),
                    var(--name-entry-gradient-end)
                )
                1
                stretch;

        }

        .input-label {
            display: block;
            margin-bottom: 10px;
        }
    }


    .submit-wrapper {
        align-items: center;
        display: flex;
        margin-left: 2em;

        .submit-button {
            background-color: var(--button-color);
            border: 0;
            border-radius: 5px;
            color: var(--container-content-font-color);
            cursor: pointer;
            font-size: var(--font-size-medium);
            padding: 0.5em 1em;

            &:active {
                background-color: var(--button-active-color);
            }
        }
    }
}
