.meeting {
    background-color: var(--container-content-bg-color);
    cursor: pointer;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: .20fr 1fr auto;

    * {
        display: flex;
        align-items: flex-end;
    }

    &:active {
        background-color: var(--container-content-highlight-bg-color);
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }

    .meeting-date,
    .meeting-time,
    .meeting-url {
        font-size: var(--font-size-small);
    }

    .meeting-join {
        align-items: center;

        &.hidden {
            visibility: hidden;
        }
    }

    .meeting-date,
    .meeting-name {
        font-weight: bold;
    }

    .meeting-name,
    .meeting-url {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .meeting-date {
        grid-column: 1;
    }
    .meeting-name {
        grid-column: 2;
    }

    .meeting-join {
        grid-column: 3;
        grid-row: 1 / span 2;

        div {
            border: 1px solid var(--container-content-font-color);
            border-radius: 5px;
            cursor: pointer;
            padding: 0.3em 1em;
        }
    }

    .meeting-time {
        grid-column: 1;
        grid-row: 2;
    }

    .meeting-url {
        grid-column: 2;
        grid-row: 2;
    }
}
