@import "./media-queries";

.waiting {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    width: 100%;

    .clock {
        text-align: center;
        padding: 2.6em;

        .date {
            color: var(--container-sub-content-font-color);
            font-size: var(--font-size-medium-plus);
        }

        .time {
            font-size: var(--font-size-x-large);
        }
    }

    .meetings {
        display: flex;
        flex-direction: column;
        align-items: center;

        .meeting {
            background-color: var(--container-content-bg-color);
            cursor: pointer;
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            grid-template-columns: .20fr 1fr auto;
            padding: .8em 1.2em;
            width: 80%;

            &:active {
                background-color: var(--container-content-highlight-bg-color);
            }
        }

        .meeting * {
            display: flex;
            align-items: flex-end;
        }

        .meeting:not(:last-child) {
            margin-bottom: 2px;
        }

        .meeting-date,
        .meeting-time,
        .meeting-url {
            font-size: var(--font-size-small);
        }

        .meeting-date,
        .meeting-name {
            font-weight: bold;
        }

        .meeting-name,
        .meeting-url {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .meeting-date {
            grid-column: 1;
        }
        .meeting-name {
            grid-column: 2;
        }

        .meeting-join {
            align-items: center;
            grid-column: 3;
            grid-row: 1 / span 2;

            &.hidden {
                visibility: hidden;
            }

            div {
                border: 1px solid var(--container-content-font-color);
                border-radius: 5px;
                cursor: pointer;
                padding: 0.3em 1em;
            }
        }

        .meeting-time {
            grid-column: 1;
            grid-row: 2;
        }

        .meeting-url {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .input-sub-view {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-entry-wrapper {
        background-color: var(--container-content-bg-color);
        border-radius: 5px;
        display: flex;
        padding: 1.2em 2.5em;
        width: 80%;

        @media #{$mq-medium} {
            width: 70%;
        }

        @media #{$mq-large} {
            width: 60%;
        }

        .input-container {
            flex: 1;

            input {
                background-color: transparent;

                /**
                 * Set each border attribute separately for mobile safari to
                 * support border-image.
                 */
                border-bottom: 2px;
                border-left: 0;
                border-right: 0;
                border-style: solid;
                border-top: 0;

                border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 stretch;
                color: var(--container-content-font-color);
                font-family: 'Nunito', sans-serif;
                font-size: var(--font-size-small);
                padding-bottom: 16px;
                width: 100%;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--container-sub-content-font-color);
                }
            }

            label {
                display: block;
                margin-bottom: 10px;
            }
        }

        .name-entry-submit-wrapper {
            align-items: center;
            display: flex;
            margin-left: 2em;

            .name-entry-submit {
                background-color: #0074e0;
                border: 0;
                border-radius: 5px;
                color: var(--container-content-font-color);
                cursor: pointer;
                font-size: var(--font-size-medium);
                padding: 0.5em 1em;

                &:active {
                    background-color: #6aafeb;
                }
            }
        }
    }
}

.in-call {
    display: grid;
    grid-template-rows:  1fr auto;
    min-height: 100%;
    width: 100%;

    .in-call-name {
        margin-top: 5em;
        text-align: center;
    }
}
