.waiting {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
    max-width: 100%;

    .clock {
        text-align: center;

        .date {
            font-size: var(--font-size-medium-plus);
        }

        .time {
            font-size: var(--font-size-x-large);
        }
    }

    .meetings {
        .meeting {
            align-items: baseline;
            background-color: var(--container-content-bg-color);
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            grid-template-columns: .20fr 1fr auto;
            grid-template-rows: 1fr 1fr;
            padding: 15px;
        }

        .meeting:not(:last-child) {
            margin-bottom: 5px;
        }

        .meeting-date,
        .meeting-time,
        .meeting-url {
            font-size: var(--font-size-small);
        }

        .meeting-date,
        .meeting-name {
            font-weight: bold;
        }

        .meeting-name,
        .meeting-url {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .nav {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;

        .nav-button {
            &.active {
                color: var(--active);

                .nav-icon {
                    border-color: var(--active);
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
  
        .nav-icon {
            border: 1px solid;
            border-radius: 50%;
            padding: 25px;

            * {
                font-size: var(--font-size-x-large);
            }
        }
    }

    .name-entry-wrapper {
        background-color: var(--container-content-bg-color);
        display: flex;
        padding: 20px;

        .input-container {
            flex: 1;

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                color: var(--container-content-font-color);
                font-family: 'Nunito', sans-serif;
                font-size: 1em;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            label {
                display: block;
            }
        }
    }
}