@import "./media-queries";

.spot-home {
    background-color: var(--container-bg-color);
    border-radius: 5px;

    @media #{$mq-xsmall} {
        width: 80%;
    }

    @media #{$mq-small} {
        width: 50%;
    }

    @media #{$mq-medium} {
        width: 50%;
    }

    @media #{$mq-large} {
        width: 47%;
    }

    @media #{$mq-xlarge} {
        width: 47%;
    }

    .clock {
        padding: 1.2em 0;
    }

    .join-info {
        color: var(--container-sub-content-font-color);
        text-align: center;
        padding: 0.5em 0;
    }

    .meetings {
        .meeting {
            padding: 1em 1.6em;
        }
    }

    .no-events-message {
        background-color: var(--container-content-bg-color);
        color: var(--container-sub-content-font-color);
        padding: 3em;
        text-align: center;

        h1 {
            font-size: var(--font-size-medium-plus);
        }

        .setup-instructions {
            color: var(--container-sub-content-font-color);
            margin: 15px 0;
        }

        .setup-join-code {
            color: #6aafeb;
            font-size: var(--font-size-large);
        }
    }
}