.admin {
    background-color: white;
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
    padding: 40px;
    width: 100%;
}

.code {
    bottom: 25;
    left: 25;
    position: fixed;
}

.meetingMouseHider {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.idleCursor .meetingMouseHider {
    pointer-events: all;
}

.container {
    align-items: center;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 25px;
    width: 50%;
}

.loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.settings_cog {
    top: 41px;
    position: absolute;
    right: 32px;
}

.subcontent {
    width: 100%;
}

/**
 * view acts as the main wrapper each individual route. By default put the
 * content of view in the center of the screen.
 */
.view {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}
