.feedback-opener {
    bottom: 5px;
    cursor: pointer;
    position: fixed;
    right: 5px;
    z-index: $z-index-foreground;
}

.app-feedback-overlay.status-overlay {
    background: #1C2025;
    z-index: $z-index-above-all;

    * {
        z-index: $z-index-above-all;
    }

    .feedback-form {
        margin-top: 5%
    }

    .message-help {
        display: none
    }
}

.feedback-view {
    @include spot-remote-view-layout;

    .feedback-form {
        display: flex;
        flex: 1;
    }

    .remote-feedback {
        background-color: var(--container-bg-color);
        border-radius: 5px;
        margin: auto;
        padding: 32px 16px; 
        text-align: center;

        @media #{$mqw-xxsmall} {
            width: 100%;
        }

        @media #{$mqw-tablet} {
            width: 50%;
        }

        .cta {
            font-size: $font-size-medium-plus;
        }

        .message-help {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .stars {
            margin: 3em 0;
        }

        .remote-message {
            @include inherit-reset;

            background-color: var(--feedback-background);
            border-radius: 5px;
            margin: 10px 0px 20px;
            resize: none;
            width: 100%;
        }

        .remote-score {
            background: inherit;
            border: none;
            color: white;
            padding: 0 10px;

            * {
                font-size: 3em;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .skip-button {
            margin-right: 20px;
        }
    }
}
