.in-call {
    @include spot-remote-view-layout;

    justify-content: space-between;

    .in-call-nav {
        align-items: center;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .in-call-nav-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
    }

    .nav-button {
        margin: 10px 20px;
    }

    .view-header {
        flex: 3;
    }
}

.in-call,
.stop-share {
    .view-header {

        .in-call-name,
        .in-call-invited-phone {
            word-wrap: break-word;
            font-size: $font-size-medium-plus;
            margin-top: 100px;
            text-align: center;
        }

        .in-call-meeting-url {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            word-wrap: break-word;

            .join-info {
                margin-left: 5px;
                
                .join-code {
                    color: var(--secondary-link-color);
                }
            }
        }

        .in-call-name-with-phone {
            font-size: $font-size-medium;
            text-align: center;
        }
    }
}
