.in-call {
    @include spot-remote-view-layout;

    justify-content: space-between;

    .in-call-nav {
        align-content: center;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-button {
        margin: 10px 20px;
    }

    .view-header {
        flex: 1;
    }
}

.in-call,
.stop-share {
    .view-header {

        .in-call-name,
        .in-call-invited-phone {
            font-size: $font-size-medium-plus;
            margin-top: 100px;
            text-align: center;
        }

        .in-call-name-with-phone {
            font-size: $font-size-medium;
            text-align: center;
        }
    }
}
