.in-call {
    @include spot-remote-view-layout;

    justify-content: space-between;

    .in-call-name {
        font-size: $font-size-medium-plus;
        margin-top: 100px;
        text-align: center;
    }
}
