.join-code-view {
    @include spot-remote-view-layout;

    justify-content: center;
    position: relative;

    .cta {
        text-align: center;

        .title {
            font-size: 45px;
        }

        .help {
            font-size: 19px;
        }
    }

    .code-entry-wrapper {
        @include centered-content;

        margin: 56px 0 48px;

        &.boxes-8 .code-entry {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media #{$mqw-tablet} {
                display: flex;
            }
        }
        &.boxes-6 .code-entry {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            @media #{$mqw-tablet} {
                display: flex;
            }
        }

        .code-entry {
            justify-content: center;
            margin: auto;
        }

        .hidden-submit {
            position: absolute;
            pointer-events: none;
            visibility: hidden;
        }
    }

    .join-button-bar {
        text-align: center;
    }

    .help-icon {
        bottom: 5px;
        position: absolute;
        left: 5px;

        @media #{$mqw-xxsmall} {
            font-size: 3.5em;
        }

        @media #{$mqw-laptop} {
            font-size: 2em;
        }
    }
}
