.mode-select {
    background-color: var(--container-bg-color);
    padding: 50px;

    .title {
        font-size: $font-size-large;
        text-align: center;
    }

    .selections {
        display: flex;
        justify-content: center;
        margin: 50px 0;

        .selection {
            background-color: var(--container-content-bg-color);
            border-radius: 5px;

            .nav-button {
                padding: 50px;
            }
        }
        
        .selection:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.stop-share {
    @include spot-remote-view-layout;

    .in-call-name {
        font-size: $font-size-medium-plus;
    }

    .in-call-name,
    .stop-share-button-container {
        margin-top: 100px;
        text-align: center;
    }
}
