.share-view-contents {
    @include spot-remote-view-layout;
}

.mode-select {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .title,
    .description {
        font-size: $font-size-large;
        text-align: center;
    }

    .selections {
        display: flex;
        justify-content: center;
        margin: 50px 0;

        .selection {
            @include button-reset;

            align-items: center;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            height: 264px;
            justify-content: space-around;
            padding: 38px 30px 24px;
            width: 264px;

            i,
            svg {
                height: 80px;
                width: 120px;

                margin-bottom: 38px;
            }

            i {
                font-size: 80px;
            }

            .selection-label {
                font-size: 19px;
            }
            .selection-sub-label {
                font-size: 15px;
            }
        }
        
        .selection:not(:last-child) {
            margin-right: 50px;
        }

        .selection:disabled {
            color: gray;
            cursor: default;
        }
    }

    .footer {
        text-align: center;
    }
}

.stop-share {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .stop-share-title {
        font-size: 24px;
    }

    .stop-share-icon {
        height: 80px;
        margin: 54px 0px;
        width: 120px;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}
