.status-overlay {
    background: rgb(27, 38, 56);

    &.transparent {
        background: none;
    }

    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: $z-index-cover-base;

    .status-overlay-text-frame {
        display: block;
        width: 55%;
        background-color: var(--container-content-bg-color);
        border-radius: 5px;
        color: var(--container-sub-content-font-color);
        padding: 3em;
        position: relative;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      
        h1 {
            font-size: $font-size-medium-plus;
        }
      
        .status-overlay-text {
                color: var(--container-sub-content-font-color);
                margin: 15px 0;
        }
    }
}
