.waiting-view {
    @include spot-remote-view-layout;

    .waiting-sub-view {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        justify-content: center;
    }

    .remote-calendar-view {
        flex: 1;
        width: 100%;
    }

    .clock {
        margin-bottom: 32px;
    }

    .meetings {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;

        .meeting {
            padding: .8em 1.2em;
            width: 80%;

            @media #{$mq-laptop} {
                width: 70%;
            }
        
            @media #{$mq-laptop-l} {
                width: 60%;
            }
        }

        .meeting:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .meeting:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .meeting-name-entry-view {
        @include centered-content;

        flex: 1;
    }

    .share-select-view {
        @include centered-content;
        align-items: initial;
        margin: auto;
        padding: 0;
        width: 100%;

        @media #{$mq-tablet} {
            width: 450px;
        }
    
        @media #{$mq-laptop-l} {
            width: 500px;
        }
    }

    .number-entry-view {
        @include centered-content;
    }  
}
