@import './../media-queries';
@import './../mixins';
@import './../variables.scss';

.join-code-view {
    @include spot-remote-view-layout;

    justify-content: space-between;

    .cta {
        padding: 2.5em;
        text-align: center;

        .title {
            font-size: $font-size-x-large;
        }

        .help {
            font-size: $font-size-large;
        }
    }

    .code-entry-wrapper {
        @include centered-content;

        .code-entry {
            display: flex;
            justify-content: center;
            margin: auto;

            @media #{$mq-xxsmall} {
                flex-wrap: wrap;

                // Hardcode some width that force a 3x2 code entry.
                width: 65%;
            }

            @media #{$mq-tablet} {
                flex-wrap: nowrap;
                width: auto;
            }
        }

        .hidden-submit {
            position: absolute;
            pointer-events: none;
            visibility: hidden;
        }
    }
}
