.admin-entry {
    align-items: center;
    border-top: var(--separator-border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0;
    padding: 24px 35px;

    .admin-entry-title {
        font-weight: bold;
    }

    .admin-entry-content {
        margin-left: 100px;
    }

    .pairing-code {
        @include join-code;
    }

    &:last-child {
        border-bottom: var(--separator-border);
    }
}
