.meeting-view {
    height: 100vh;
    width: 100vw;

    .loading-curtain,
    .meetingMouseHider {
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: $z-index-cover-base;
    }

    .meetingMouseHider {
        pointer-events: none;
    }

    .meeting-status {
        bottom: 50px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);

        .status-icon {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            display: inline-block;
            padding: 1em;

            &:not(:last-child) {
                margin-right: 1em;
            }

            svg {
                font-size: $font-size-x-large;
            }
        }
    }
}
