.spot-setup {
    color: var(--container-sub-content-font-color);
    justify-content: center;
    overflow: auto;

    .setup-buttons {
        margin-top: 34px;
        text-align: center;

        .button:not(:last-child) {
            margin-right: 10px;
        }
    }

    .setup-content {
        overflow: auto;
    }
    
    .setup-roomList {
        /**
         * Define a set height to prevent the room list from causing the modal
         * to resize frequently.
         */
        height: 300px;
        overflow: auto;
    }
    
    .setup-step {
        display: flex;
        flex-direction: column;
    }

    .setup-title {
        font-size: $font-size-medium-plus;
        margin-bottom: 34px;
        text-align: center;
    }
}

.room-selection {
    background-color: var(--container-content-bg-color);
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;

    &:hover {
        background-color: var(--container-content-bg-color-no-opacity);
    }
}

.select-media {
    .columns {
        display: flex;
        margin-top: 10px;

        .column {
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 50%;
            max-width: 50%;
        }

        .column:not(:last-child) {
            padding-right: 18px;
        }
    }

    .camera-preview-container {
        background: black;
        overflow: hidden;

        .camera-preview {
            max-width: 420px;
            position: relative;

            video {
                max-height: 100%;
                max-width: 100%;
            }

            .error-cover {
                background-color: black;
                bottom: 0;
                left: 0;
                display: none;
                position: absolute;
                right: 0;
                top: 0;

                &.visible {
                    @include centered-content;
                }
            }
        }
    }

    .selector:not(:last-child) {
        margin-bottom: 10px;
    }

    .speaker-preview {
        margin: 10px 0;

        .speaker-preview-link {
            font-size: $font-size-small;
        }

        .speaker-preview-link:not(.disabled) {
            color: var(--mic-preview-active-background-color);
            cursor: pointer;

            &:active {
                color: var(--button-active-color);
            }
        }
    }

    .select-label {
        font-size: $font-size-small;
        margin-bottom: 5px;
    }

    .mic-preview {
        background: var(--mic-preview-background-color);
        border-radius: 5px;
        height: 2px;

        &.disabled {
            background: repeating-linear-gradient(
                45deg,
                var(--mic-preview-background-color),
                var(--mic-preview-background-color) 10px,
                var(--mic-preview-background-disabled-color) 10px,
                var(--mic-preview-background-disabled-color) 20px
            );
        }

        .mic-preview-level {
            background: var(--mic-preview-active-background-color);
            border-radius: 5px;
            height: 100%;
            -webkit-transition: width .1s ease-in-out;
            -moz-transition: width .1s ease-in-out;
            -o-transition: width .1s ease-in-out;
            transition: width .1s ease-in-out;
        }
    }
}

.setup-sync-with-backend {
    text-align: center;

    .cta {
        text-align: center;

        .title {
            font-size: $font-size-x-large;
        }

        .description {
            font-size: $font-size-large;
        }
    }
}

.pair-remote {
    .description {
        font-size: $font-size-medium;
    }

    .join-code {
        color: #eeb556;
        font-size: $font-size-x-large;
        letter-spacing: 0.5em;
        margin-top: 1em;
        text-align: center;
        text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
    }
}

.setup ~ .info-footer {
    display: none;
}