@import './../../variables.scss';

.unsupported-browser {
    background-color: var(--container-bg-color);
    border-radius: 5px;
    font-size: $font-size-medium-plus;
    padding: 32px 16px;
    text-align: center;

    ~ .info-footer {
        display: none;
    }
}
