{
    "extends": [
        "eslint-config-jitsi",
        "eslint-config-jitsi/jsdoc",
        "eslint-config-jitsi/react"
    ],
    "overrides": [
        {
            "files": [
                "**/*.test.js"
            ],
            "env": {
                "jest": true
            }
        }
    ],
    "rules": {
        "max-len": [ "error", 100 ],
        "no-console": 1,
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }]
    },
    "settings": {
        "react": {
            "version": "16.8.2"
        }
    }
}
