{
    "extends": ["@jitsi/eslint-config", "@jitsi/eslint-config/jsdoc", "@jitsi/eslint-config/react"],
    "parser": "@babel/eslint-parser",
    "plugins": ["@babel", "import", "jest", "react"],
    "rules": {
        "no-console": 1,
        "jsdoc/newline-after-description": 0
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "jest": true,
        "node": true
      },
    "globals": {
        "afterAll": true,
        "afterEach": true,
        "beforeAll": true,
        "beforeEach": true,
        "describe": true,
        "expect": true,
        "jest": true
      }
}
