{
    "env": {
        "node": true
    },
    "extends": [
        "eslint-config-jitsi",
        "eslint-config-jitsi/jsdoc"
    ],
    "rules": {
        "no-console": 1,
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }]
    },
    "settings": {
    }
}
