html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    background: #303030;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.error-message {
    background: #424242;
    border-radius: 4px;
    box-shadow:
        0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0,0,0,.12);
    margin-bottom: 100px;
    padding: 80px 40px;
    text-align: center;
}

.message-footer {
    margin-top: 20px;
}

.button {
    background-color: #1976d2;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
}
