.avatar {
    border-radius: 50%;
    margin-right: 5px;
}

.details {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.meeting {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding: 20px;
    display: flex;
    margin-bottom: 2px;
    overflow: hidden;
}

.meeting:hover {
    background: rgba(255, 255, 255, 0.7);
}

.ongoing {

}

.name {
    font-size: 3vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time {
    font-size: 3vw;
    white-space: nowrap;
    width: 30%;
}
