.avatar {
    border-radius: 50%;
    height: 100%;
    margin-right: 5px;
}

.details {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.meeting {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 20px;
    display: flex;
    margin-bottom: 2px;
    overflow: hidden;
}

.meeting:hover {
    background: rgba(255, 255, 255, 0.7);
}

.name {
    font-size: 3vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.participants {
    height: 50px;
}

.time {
    font-size: 3vw;
    white-space: nowrap;
    width: 30%;
}

.url {
    color: rgba(64, 64, 64, 0.8);
    overflow: hidden;
    margin: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
