.avatar {
    border-radius: 50%;
    height: 100%;
    margin-right: 5px;
}

.details {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.meeting {
    background: white;
    cursor: pointer;
    padding: 20px;
    display: flex;
    margin-top: 2px;
    overflow: hidden;
}

.meeting:hover {
    background: rgb(250, 251, 252);
}

.name {
    font-size: 2vw;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.participants {
    height: 50px;
}

.time {
    font-size: 1.5vw;
    white-space: nowrap;
    width: 30%;
}

.url {
    font-size: 1.5vw;
    overflow: hidden;
    margin: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.url:empty:before {
    content: '.';
    visibility: hidden;
}
