:global(.idleCursor) .cog {
    display: none;
}
:global(.idleCursor) .cog:hover {
    display: block;
}

.cog {
    border-radius: 50%;
    height: 1.4em;
    opacity: 1;
    text-align: center;
    transition: opacity 0.5s;
    width: 1.4em;
}
.cog,
.cog * {
    color: white;

    /**
    * TODO: remove !important usage and setting height/width larger than
    * parent. Those stylings are being used right now to override jitsi-meet
    * icon styling.
    */
    cursor: pointer !important;
    text-decoration: none !important;
}
.cog:hover * {
    color: lightgray;
}

.container {
    margin: 20px 0;
    padding: 10px;
    word-wrap: break-word;
}

.detail {
    margin-bottom: 5px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.title {
    font-size: 2em;
    margin-bottom: 5px;
}
